* {
	margin: 0px;
	padding: 0px;
}

.page>* {
	padding:0px;
}

.ui-content>* {
	margin: 0px auto;
}

.none {
	display: none;
}

.button {
	color: white;
	display: block;
	border-radius: 10px;
	padding: 15px;
	width: 150px;
	margin: 0px auto;
	text-align: center;
}

.button>a {
	display: block;
	text-decoration: none;
	color: white;
	font-weight: normal;
	text-align: center;
}

.button:hover {
	background-color: rosybrown;
}

.blue {
	background-color: #21BDCE;
}

.red {
	background-color: #FF5733;
}

.gold {
	background-color: #f2d03c;
}

.popUpQuery {
	color: white;
	font-size: 20px;
	padding: 10px;
	text-align: center;
}

.popUp, .revealCrush {
	width: 80%;
	height: 150px;
	background-color: #828282;
	position: absolute;
	top: 200px;
	left: 10%;
}

.queryOptions {
	display: flex;
	flex-wrap: nowrap;
}

.name {
	color: white;
	font-size: 30px;
}

y n {
	max-width: 40%;
}

/* Home */

.main {
	margin: 0px;
	width: 100vw;
}

.header {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	text-align: center;
	color: red;
	width: 100vw;
	min-height: 150px;
	background-image: url("images/header.jpg");
	background-size: 100vw auto;
	background-position: bottom center;
}

.newCrush{
	background-color: #3ac8d8;
	margin: 0px auto;
}

#home {
	background-color: #3ae5f2;
}

#home>* {
	padding: 0px;
}

.title {
	padding: 15px 0px;
	color: black;
	font-size: 45px;
}

.toggleCrushList {
	padding-top: 30px;
	position: relative;
}

.content {
	display: flex;
	flex-flow: column;
	align-items: center;
}
	
.content>div {
	margin: 0px auto;
}

.crushList {
	padding: 0px;
	margin: 0px;
	position: absolute;
	left: 0;
	top: 75px;
	width: 245px;
}

.crushList>div {
	padding: 10px;
	background: gold;
	width: 100%;
	height: 100%;
	font-size 25px;
	font-weight: bolder;
	display: flex;
	flex-flow: row nowrap;
}

.crushList>div>p {
	max-width: 80%;
}

.removeCrush {
	border-radius: 5px;
	padding: 5px;
	background-color: red;
	color: white;
	display: block;
	max-width: 20px;
	max-height: 20px;
	float: left;
  	right: 0%;
	position: absolute;
}

.removeCrush:hover {
	background-color: rosybrown;
}

.matches {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

h2 {
	color: orangered;
	font-size: 29px;
	padding-top: 140px;
}

.huge {
	font-size: 120px;
	color: red;
}

.findOut {
	width: 50%;
	background-color: #f2d03c;
	padding: 20px 15px;
	text-align: center;
	color: white;
	font-size: 20px;
	border-radius: 15px;
	display: block;
}

/* Search bar */

.search {
	background: -moz-linear-gradient(-45deg, #ff3232 17%, #f93181 49%, #fcde00 89%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #ff3232 17%,#f93181 49%,#fcde00 89%);
}

.search>* {
	margin: 0px auto;
}

.searchAres{
	width: 90vw;
	margin: 0px auto;
}

.searchHeader {
	width: 100vw;
	min-height: 170px;
	background-color: #c62915;
	display: flex;
	align-items: center;
	flex-flow: column;
	max-height: 40%;
	position: relative;
}

.searchLogo {
    padding: 7px;
	width: 50px;
	height: 50px;
}

.searchTitle {
    padding: 0px 0px 20px 0px;
	font-size: 23px;
	color: white;
	text-align: center;
	padding-top: 10px;
}

.searchArea {
    min-width: 100%;
    max-height: 40px;
	position: absolute;
	bottom: 0;
}

.searchResults {
    width: 80vw;
    display: flex;
    flex-flow: column;
    align-content: center;
}

.users {
    margin-top: 50px;
}

.user {
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
}

.userName {
    font-size: 15px;
    padding: 7px 7px 0px 7px;
}

.bio {
    font-size: 12px;
    padding: 7px;
}

.app-input {
	margin: 0px auto;
}

.lookingFor {
    margin-top: 20px;
	padding: 10px;
}

/* Profile */

#profile {
	background: linear-gradient(135deg, #00ffff 2%,#6b97ff 50%,#ed0096 99%);
}

.profileHeader {
    width: 100vw;
    min-height: 150px;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    flex-flow: row;
    align-content: center;
    justify-content: center;
}

.name {
	font-size: 35px;
	color: black;
	padding: 60px 50px 60px 50px;
}

.editSymbol {
	width: 60px;
	height: 60px;
}

.profileInfo {
	width: 80vw;
	background-color: rgba(255, 255, 255, 0.5);
}

.app-section {
	max-width: 100%;
}

.profileHeaders {
    font-weight: bold;
}

.profileHeaders, .answer {
    padding: 5px;
}

.signUp {
	margin-top: 30px;
}

/* Sign up */

.logInContent {
	background: white;
}

.logInHere {
	font-size: 40px;
	font-weight: normal;
	padding: 30px 0px;
	text-align: center;
}

.form {
	width: 80vw;
	background-color: white;
}

.submit {
	position: absolute;
	bottom: 0;
}

label {
	font-size: 50px;
}

.none {
	display: none;
}

