.button {
	color: white;
	display: block;
	border-radius: 10px;
	text-align:center;
}

.button a {
	display:block;
	padding: 15px;
	text-decoration: none;
	color: white;
}

.blue {
	background-color: #21BDCE;
}

body {
	background: paleturquoise;
}

.container {
	background: white;
	margin: 0px auto;
	width: 80vw;
	display: flex;
	flex-flow: column;
	flex-wrap: nowrap;
}

.container>* {
	padding: 0px 40px;
}

.header {
	font-size: 20px;
	align-self: flex-start;
}

input {
	border-width: 0px 0px 2px 0px;
	border-bottom: 2px solid #eee;
	min-width: 100%;
	padding-bottom: 15px;
	margin-bottom: 24px;
	font-size: 1.2em;
}

button {
	color: #900;
  border: 1px solid #900;
	border-radius: 10px;
	padding: 15px 30px;
	margin-bottom: 30px;
	display:block;
}

.switch {
	width: auto;
	display: flex;
	align-items: stretch;
	flex-flow: column;
}

/*
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}*/
